<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Corona CA</title>
</head>
<body>
    <div class='bg-gradient-to-b from-[#3F5D89] to to-[#8A6DC3] bg-cover h-screen'>
        <div class='grid grid-cols-4 lg:pt-16 2xl:pt-24 font-fontMonserrat'>
            <div class='col-span-1'>
                <a href="/">
                    <img src="images/logo.png" alt="" class='w-0 lg:w-36 2xl:w-40 mx-10' />
                </a>
            </div>
            <div class='col-span-2 text-white'>
                <div class='text-4xl lg:text-7xl 2xl:text-8xl font-bold mb-5'>¡Felicidades!</div>
                <div class='text-2xl lg:text-3xl 2xl:text-4xl'>Estas a un paso de tomar <strong>ACCIÓN y</strong></div>
                <div class='text-xl lg:text-3xl 2xl:text-4xl mb-8 lg:mb-14'><strong>emprender en tu vida</strong></div>
                <div class='text-xl lg:text-3xl 2xl:text-4xl'>Sólo falta unirte a nuestro grupo de</div>
                <div class='text-xl lg:text-3xl 2xl:text-4xl'><strong>WhatsApp</strong> donde te mantendremos</div>
                <div class='text-xl lg:text-3xl 2xl:text-4xl mb-14'>informada.</div>
                <a href="https://chat.whatsapp.com/IWo09HVQrPQLY5nWCaeN4r" class='bg-[#25CB4D] rounded-md lg:px-24 p-2'>UNIRME AL GRUPO</a>
            </div>
        </div>
    </div>
</body>
</html>